<div>
  <button *ngIf="data?.title_exit_icon" mat-icon-button [mat-dialog-close] class="no-outline-btn icon-cancel-btn">
    <mat-icon>{{ data?.title_exit_icon }}</mat-icon>
  </button>

  <span mat-dialog-title class="dialog-title">
    {{ 'Fact By: '+ data.popUpData.addedBy }}</span>

  <hr class="custom-hr" />

  <mat-dialog-content class="app-dialog-content hold">
    <mat-card>

      <mat-card-content>
        {{data.popUpData.fact|json}}
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <hr class="custom-hr" />

  <mat-dialog-actions align="end">
    <div class="btn-container">
      <button class="center-btn"  [mat-dialog-close] color="primary" mat-raised-button>Close</button>
    </div>
  </mat-dialog-actions>
</div>
