<div *ngIf="dataSource.loading$ | async" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="No">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let i = index">{{ paginator.pageIndex * paginator.pageSize + i + 1 }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Fact">
    <mat-header-cell *matHeaderCellDef>Fact</mat-header-cell>
    <mat-cell matTooltip="Click to view the full fact" *matCellDef="let element">
      <span>
        {{element.fact | ellipsis}}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="AddedBy">
    <mat-header-cell *matHeaderCellDef>Added By</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.addedBy}}

    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row (click)="openFullFactDialog(row)" *matRowDef="let row; columns: displayedColumns" class="table-row clickable-row no-outline-btn"></mat-row>
</mat-table>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10]"></mat-paginator>


